@font-face {
  font-family: 'Roboto';
  src: local(sans-serif);
  font-display: swap;
}

body {
  font-family: 'Roboto',
    sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(131, 58, 180);
  background: linear-gradient(0deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 0%, rgba(252, 176, 69, 1) 100%);
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
}

.error {
  background-color: crimson;
  color: white;
  text-align: center;
  margin: 20px auto;
  padding: 2px;
}


.books__pagination {
  margin-top: 40px;
  text-align: center;
}

.books__pagination--page {
  margin: 0 20px;
}

.link {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  cursor: pointer;
  padding: 2px 4px;
}

.link:hover {
  background: white;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  padding: 2px 4px;
}

.logo {
  text-align: center;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px lightcyan;
}

.search {
  margin: 0 10px;
}

.search form {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
}

.search label {
  /* display: none; */
}

.search input {
  flex: 1;
  width: 100%;
  min-width: 100px;
  padding: 8px;
  font-size: 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search button {
  flex: 0;
  white-space: nowrap;
  padding: 9px 18px;
  font-size: 1rem;
  background: rgb(34, 193, 195);
  background: linear-gradient(155deg, rgba(34, 193, 195, 1) 0%, rgba(244, 255, 31, 1) 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
}

.books {
  justify-self: center;
  align-self: center;
  margin-top: 20px;
}

.books__books-grid {
  margin: 20px 10px 0 10px;
  padding: 0;
  list-style: none;
  display: grid;
  max-width: 500px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 60px;
}

.books__books-grid__item {
  background: ghostwhite;
  border-radius: 4px;
  padding: 15px;
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.books__books-grid__item--bookinfo {
  color: rgba(0, 0, 0, 0.8);
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.books__books-grid__item--image img {
  height: auto;
  width: 100px;
  border-radius: 10px;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.5);
}

.books__books-grid__item--title {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 0.95rem;
}

.books__books-grid__item--publisher {
  font-weight: 300;
  margin: 0 0 20px 0;
  font-size: 0.95rem;
}

.books__books-grid__item--author {
  font-weight: normal;
  margin-bottom: 4px;
  font-size: 0.95rem;
}

.footer {
  margin-top: auto;
  padding: 80px 0 40px 0;
  text-align: center;
}

@media (min-width: 1000px) {
  .books__books-grid {
    grid-template-columns: 1fr 1fr;
    margin: 100px 40px 0 30px;
    max-width: unset;
  }

  .books__books-grid__item {
    height: 268px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
  }

  .search {
    margin: 0;
  }

  .books__books-grid__item--title {
    font-size: 1rem;
  }

  .books__books-grid__item--publisher {
    font-size: 1rem;
  }

  .books__books-grid__item--author {
    font-size: 1rem;
  }

  .books__books-grid__item--image img {
    position: relative;
    bottom: 40px;
    height: 300px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.5);
  }

  .search input {
    font-size: 1.15rem;
  }

  .search button {
    font-size: 1.15rem;
    letter-spacing: 2px;
  }
}